<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <!-- <script src="./js/map.js"></script> -->
    <title>Map Page</title>
</head>
<body>
    <div id="map" style="width: 100%; height: 95vh;"></div>
    <script>
        var map = L.map('map').setView([30.033333, 31.233334], 11);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        mapMarkers1 = [];
        mapMarkers2 = [];
        mapMarkers3 = [];

        var source = new EventSource('topic/geodata_final');
        console.log(source);
        source.addEventListener('message',async function(e) {
            console.log('Message');
            obj = JSON.parse(e.data);
            console.log(obj);

            if (obj.busline == '00001'){
                for (var i = 0; i < mapMarkers1.length; i++) {
                    map.removeLayer(mapMarkers1[i]);
                }
                marker1 = L.marker([obj.latitude, obj.longitude]).addTo(map);
                mapMarkers1.push(marker1);
            }
        }, false);
    </script>
</body>
</html>